#add
  %form{method: :post}
    %div
      %label{for: :name} Title
      %input{type: :text, id: :name, name: :name}/
    %div
      %label{for: :group} Group
      %input{type: :text, id: :group, name: :group}/
    %div
      %button Add
